<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wall Of Shame</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0;
        background-image: url("stage.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
        width: 100%;
        background-position: center;
        background-color: black;
        font-family: 'Roboto', sans-serif;
      }
      .logo {
        background-image: url("logo.svg");
        text-align: center;
        display: block;
        width: 100px;
        height: 100px;
        margin: 20px auto 0;
        background-repeat: no-repeat;
      }
      .toaster {
        background-image: url("toaster.svg");
        width: 150px;
        height: 108px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 50%;
      }
      .quote,
      .person {
        text-align: center;
        color: white;
        max-width: 60%;
        margin: 20px auto;
        background-color: #0000005c;
      }
      .person {
        margin: 0 auto;
      }
      .portrait {
        width: 85px;
        margin: 110px auto 0;
        display: block;
        border: 2px solid #a2009c;
      }
      .slide-top {
        -webkit-animation: slide-top 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55)
          0.5s alternate forwards;
        animation: slide-top 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s
          alternate forwards;
      }

      @-webkit-keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
          transform: translateY(0) rotate(0);
        }
        100% {
          -webkit-transform: translateY(-100px);
          transform: translateY(-100px) rotate(15deg);
        }
      }
      @keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
          transform: translateY(0) rotate(0);
        }
        100% {
          -webkit-transform: translateY(-100px);
          transform: translateY(-100px) rotate(15deg);
        }
      }
      .btn {
        background-color: #a2009c;
        color: #ffffff;
        padding: 15px 50px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin-left: 20px;
        opacity: 0.9;
        margin: 5% auto 0;
        display: block;
        width: max-content;
        border: 1px solid white;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
      <div class="logo"></div>
      <h1 class="quote">"<%= shame.quote %>"</h1>
      <h3 class="person"><%= shame.author %></h3>
      <img class="portrait slide-top" src=<%= person.portrait %> alt="" />
      <div class="toaster"></div>
      <a class="btn" href="/">Next</a>
      <h3 class="quote">The shortest path to be desvinculado</h3>
  </body>
</html>
