<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wall Of Shame</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0;
        background-image: url("stage.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
        width: 100%;
        background-position: center;
        background-color: black;
        font-family: "Roboto", sans-serif;
      }
      .logo {
        background-image: url("logo.svg");
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
      }
      .toaster {
        background-image: url("toaster.svg");
        width: 150px;
        height: 108px;
        background-repeat: no-repeat;
      }
      .quote,
      .person {
        text-align: center;
        color: white;
        max-width: 60%;
        margin: 20px auto;
        background-color: #0000005c;
      }
      .person {
        margin: 0 auto;
      }
      .portrait {
        width: 85px;
        border: 2px solid #a2009c;
        position: absolute;
        left: 50%;
    transform: translatex(-50%);
    z-index: -1
      }
      .slide-top {
        -webkit-animation: slide-top 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55)
          0.5s alternate forwards;
        animation: slide-top 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s
          alternate forwards;
      }

      @-webkit-keyframes slide-top {
        0% {
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%,0) rotate(0);
        }
        100% {
          -webkit-transform: translate(-50%,-70px);
          transform: translate(-50%,-70px) rotate(15deg);
        }
      }
      @keyframes slide-top {
        0% {
          -webkit-transform: translate(-50%,0);
          transform: translate(-50%,0) rotate(0);
        }
        100% {
          -webkit-transform: translate(-50%,-70px);
          transform: translate(-50%,-70px) rotate(15deg);
        }
      }
      .btn {
        background-color: #a2009c;
        color: #ffffff;
        padding: 15px 50px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin-left: 20px;
        opacity: 0.9;
        margin: 5% auto 0;
        display: block;
        width: max-content;
        border: 1px solid white;
        border-radius: 5px;
      }
      .grid-container {
        display:grid;
        padding: 20px;
        grid-template-rows: auto 1fr auto;
        min-height: 100%;
      }
      .grid-header {
        display: grid;
        justify-items: center;
      }
      .grid-content-2{
        display: grid;
        justify-items: center;
      }
    </style>
  </head>
  <body>
    <div class="wrapper grid-container">
      <div class="grid-header">
        <div class="logo grid-item"></div>
      </div>
      <div class="grid-content">
        <h1 class="quote grid-item">"<%= shame.quote %>"</h1>
        <h3 class="person grid-item"><%= shame.author %></h3>
      </div>
      <div class="grid-content-2">
        <img class="portrait slide-top" src=<%= person.portrait %> alt="" />
        <div class="toaster grid-item"></div>
      </div>
      
      <div class="grid-item">
        <a class="btn" href="/">Next</a>
        <h3 class="quote">The shortest path to be desvinculado</h3>
      </div>
      
    </div>
  </body>
</html>